node_modules
/.metals/
target
/.idea/
out
/.bloop/
/project/.bloop/
/project/metals.sbt
/project/project/
/project/target/
/.bsp/
/.vscode/settings.json
pack
/syntaxes
/PowerShell 7.5.1
# hidden cross project folders
shared/js
shared/jvm
media
.env
auroraFiles
recordings
#resources
package-lock.json
package-lock.json
